<div class="about" >
  <h2 class="title">
    О нас
  </h2>
  <div class="container">
    <p class="about__text">
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusantium sint odit eius amet sapiente
        libero quidem numquam ad. Vel omnis blanditiis architecto sapiente odio voluptatibus
        labore fuga maxime quos.
      </span>
      <span>
        Eveniet excepturi accusantium quos, rem incidunt debitis eos. Nemo aliquid nisi vel. Quos beatae, est earum
        quam voluptas assumenda sunt omnis eveniet soluta sequi distinctio minima esse incidunt aliquam quas.
      </span>
    </p>
    <p class="about__text">
      <span>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos deserunt itaque
        explicabo quia, voluptatibus alias autem ducimus iusto accusantium, sit sint nemo odit blanditiis reiciendis
        voluptas recusandae? Autem, modi facere.
      </span>
      <span>
        Exercitationem, modi quisquam maxime architecto magnam sint
        adipisci dolorem enim accusantium temporibus ipsum voluptatum provident omnis asperiores praesentium ipsa!
        Dolore ut inventore maxime error quidem debitis accusantium natus optio laborum?
      </span>
    </p>
    <p class="about__text">
      <span>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae, perferendis. Hic
        autem quo asperiores architecto voluptate, veritatis cumque debitis sit nostrum quisquam facilis nisi numquam
        vero ipsam eius temporibus ut!
      </span>
      <span>
        Quo assumenda temporibus necessitatibus nulla, totam adipisci quidem
        eius eaque. Velit perspiciatis quisquam tempore, molestias quasi earum nulla tempora tenetur non eaque, quod a
        quae sapiente dolore, suscipit minima quis?
      </span>
    </p>
    <p class="about__text">
      <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium officiis excepturi
        nesciunt laborum. Quos ipsa laborum recusandae placeat explicabo necessitatibus quia alias quo, mollitia esse
        illo in, veniam eum ipsum!
      </span>
      <span>Praesentium eius, molestias minima fuga veritatis voluptatibus quaerat
        sapiente rerum dicta debitis facilis quae ullam repudiandae sint, at omnis numquam nostrum ipsum quam quod animi
        officiis voluptates quibusdam cupiditate? Vitae.
      </span>
    </p>


  </div>
</div>