<div class="card">
  <div class="container">


    <div class="card__inner">

      <div class="card__box">
        <img class="card__img" src="images/promo/1.jpg" alt="сковрода">
      </div>
      <div class="card__info">
        <h3 class="product__title">
          Сковорода из диска
        </h3>

        <div class="product__info">
          <span class="product__term">Артикул: <span>S005011</span></span>
          <span class="product__available">В наличии</span>
        </div>
        <div class="product__price product-price">
          <span class="product-price__current">2000 <span>грн.</span></span>
        </div>

        <ul class="accordion__list">
          <li class="accordion">
            <button class="accordion__control product__btn" aria-expanded="false">
              <span class="accordion__title">Условия оплаты и доставки </span>
              <span class="accordion__icon"></span>
            </button>
            <div class="accordion__content" aria-hidden="true">
              <ul class="product__delivery">

                <li class="product__delivery-item">Самовывоз Бесплатно</li>
                <li class="product__delivery-item">Доставка "Нова Пошта": Платно.</li>

                <li class="product__delivery-item">Доставка "Justin": Платно.</li>
              </ul>
              <ul class="product__delivery">
                <li class="product__delivery-item">Способы оплаты:</li>
                <li class="product__delivery-item">Наложенный платеж "Нова Пошта"</li>
                <li class="product__delivery-item">Безналичный расчет</li>
              </ul>
            </div>
          </li>

        </ul>

        <button class="product__btn">Перезвоните мне</button>
        <button class="product__btn">Добавить в корзину</button>
      </div>
    </div>


    <div class="card__tabs tabs ">

      <ul class="tabs__list">
        <li class="tabs__item">
          <button class="tabs__btn tabs__btn--active" data-tabs-path="main">Описание</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__btn" data-tabs-path="archive">Характеристики</button>
        </li>
      </ul>

      <div class="tabs__content tabs__content--active" data-tabs-target="main">
        <div class="card__desc">
          <p class="card__text">Сковорода для пикника, диаметром 50 см сделана из цельного листа гарячекатаной стали,
            бортик приварен ко дну сплошным швом. Сковорода проходит предварительную термообработку (закалку),
            благодаря этому еда не пригорает, а так же увеличивает срок эксплуатации сковородки. Покупая нашу
            сковородку “Премиум” вы получаете сразу 2 сковородки, т.к. крышку можно использовать либо как
            дополнительную сковороду либо как поднос. На сковороде предусмотрены 3 кольца для подвешивания на треноге.
          </p>
          <ul class="card__equipment">
            <h3 class="card__equipment-title">Комплектация:</h3>
            <li class="card__equipment-item">сковорода диаметром 500 мм, толщиной 4 мм - 1 шт;</li>
            <li class="card__equipment-item">ножки диаметром 15 мм, длиной 250 мм - 3 шт;</li>
            <li class="card__equipment-item">крышка толщиной 3 мм - 1 шт;</li>
            <li class="card__equipment-item">ножка крышки диаметром 165 мм, длиной 330 мм - 1 шт;</li>
          </ul>

          <ol class="card__instruction">
            <h3 class="card__instruction-title">Инструкция по эксплуатации перед первым использованием:</h3>
            <li class="card__instruction-item">Вытираем сковороду от консервационной смазки;</li>
            <li class="card__instruction-item">Моем теплой водой с моющим раствором;</li>
            <li class="card__instruction-item">Прожариваем с 2-мя кг соли, чтобы соль потемнела, высыпаем соль;</li>
            <li class="card__instruction-item">Заливаем подсолнечное масло и жарим до закипания масла, сливаем масло;
            </li>
            <li class="card__instruction-item">Сковорода готова к использованию.</li>
          </ol>
        </div>
      </div>
      <div class="tabs__content" data-tabs-target="archive">
        <div class="card__testimonial ">


          <table class="card__table">

          
              <h3 class="card__table-title">Основные</h3>
            

            <tr class="card__table-col">
              <td class="card__table-row">Страна производитель</td>
              <td class="card__table-row">Украина</td>
            </tr>
            <tr class="card__table-col">
              <td class="card__table-row">Состояние</td>
              <td class="card__table-row">новое</td>
            </tr>
            <tr class="card__table-col">
              <td class="card__table-row">Тип топлива</td>
              <td class="card__table-row">Древесный уголь, дрова</td>
            </tr>
            <tr class="card__table-col">
              <td class="card__table-row">Комплектация крышкой</td>
              <td class="card__table-row">Есть</td>

            </tr>

            <tr class="card__table-col">
              <td class="card__table-row">Форма</td>
              <td class="card__table-row">Круглая</td>
            </tr>
            <tr class="card__table-col">
              <td class="card__table-row">Конструкция</td>
              <td class="card__table-row">Сборно-разборная</td>
            </tr>
            <tr class="card__table-col">
              <td class="card__table-row">Материал корпуса</td>
              <td class="card__table-row">Сталь</td>

            </tr>

          </table>

        </div>
      </div>


    </div>


  </div>
</div>