<div class="catalog">
  <div class="container">

    <div class="promo">

      <div class="promo__inner">

        <div class="promo__box ">
          <a class="promo__link" href="/catalog_relax.html">
            <img class="promo__img" src="images/promo/3.jpg" alt="Сковорода из диска">
            <span class="promo__name">Отдых и туризм</span>
          </a>
        </div>

        <div class="promo__box">
          <a class="promo__link" href="#">
            <img class="promo__img" src="images/promo/122.jpg" alt="Деревообрабатывающий инструмент">
            <span class="promo__name">Фрезы</span>
          </a>
        </div>

      </div>


    </div>

  </div>
</div>