<div class="catalog-list">
  <div class="container">
    <div class="promo__inner">

      <div class="promo__box ">
        <a class="promo__link" href="/product_pan.html">
          <img class="promo__img" src="images/promo/3.jpg" alt="Сковорода из диска">
          <span class="promo__name">Сковорода из диска</span>
        </a>
      </div>


      <div class="promo__box">
        <a class="promo__link" href="#">
          <img class="promo__img" src="images/promo/4.jpg" alt="Сковорода из диска">
          <span class="promo__name">Татарские казаны</span>
        </a>
      </div>


      <div class="promo__box">
        <a class="promo__link" href="#">
          <img class="promo__img" src="images/promo/6.jpg" alt="Сковорода из диска">
          <span class="promo__name">Шампура</span>
        </a>
      </div>


      <div class="promo__box">
        <a class="promo__link" href="#">
          <img class="promo__img" src="images/promo/1.jpg" alt="Сковорода из диска">
          <span class="promo__name">Сковорода Premium*</span>
        </a>
      </div>


      <div class="promo__box">
        <a class="promo__link" href="#">
          <img class="promo__img" src="images/promo/11.jpg" alt="Сковорода из диска">
          <span class="promo__name">Мангалы</span>
        </a>
      </div>



      <div class="promo__box">
        <a class="promo__link" href="#">
          <img class="promo__img" src="images/promo/10.jpg" alt="Сковорода из диска">
          <span class="promo__name">Печь под Казан (Сковороду)</span>
        </a>
      </div>



    </div>

  </div>
</div>