<div class="contact">
  <h2 class="title">
    Контакты
  </h2>
  <div class="container">

    <h2 class="contact__table-title">Контактная информация компании Ferrum Shop</h2>
    <p class="contact__text">

    </p>
    
    <table class="contact__table">
      <tr class="contact__table-row">
        <td class="contact__table-col">Название</td>
        <td class="contact__table-col">Ferrum Shop</td>
      </tr>
      <tr class="contact__table-row">
        <td class="contact__table-col">Адрес</td>
        <td class="contact__table-col">Украина, Хмельницкая область, Каменец-Подольский</td>
      </tr>
      <tr class="contact__table-row">
        <td class="contact__table-col">Телефон</td>
        <td class="contact__table-col">
          <span class="phone__name">Vodafone-Украина :
            <a class="phone_num" href="tel:+380666040355">+380666040355</a></span>
           <span class="phone__name">Kyivstar-Украина :
             <a class="phone_num" href="tel:+380678686347">+380678686347</a></span>
            <span class="phone__name">Life-Украина :
              <a class="phone_num" href="tel:+380930067257">+380930067257</a></span>
        </td>
      </tr>
      <tr class="contact__table-row">
        <td class="contact__table-col">Сайт</td>
        <td class="contact__table-col">
          <a class="contact__link" href="https://shop-ferrum.com.ua/">shop-ferrum.com.ua</a>
        </td>
      </tr>
      <tr class="contact__table-row">
        <td class="contact__table-col">Email</td>
        <td class="contact__table-col"> 
          <a class="contact__link"
            href="mailto:ferrumshoping@gmail.com">ferrumshoping@gmail.com</a>
          </td>
      </tr>
     
    </table>

  </div>
</div>

















