<div class="delivery">
  <h2 class="title">Доставка и оплата</h2>
  <div class="container">
    <h3 class="delivery__title">Условия доставки и оплаты

      </h3>
<h3 class="delivery__subtitle">Способы доставки:</h3>
    <ul class="delivery__list">
      <li class="delivery__item">Самовывоз: Бесплатно</li>
      <li class="delivery__item">Доставка "Нова Пошта": Бесплатно при условии заказа от 5 000 грн.</li>
      <li class="delivery__item">Доставка: "Justin"</li>
    </ul>
<h3 class="delivery__subtitle">Способы оплаты:</h3>
    <ul class="delivery__list">
      <li class="delivery__item">Наложенный платеж: "Нова Пошта"</li>
      <li class="delivery__item">Наложенный платеж: "Justin"</li>
      <li class="delivery__item">Безналичный расчет</li>
      <li class="delivery__item">Наличными</li>
      <li class="delivery__item">Карта Альфа банка: 5351 9610 1238 0751</li>
    </ul>
    <h3 class="delivery__subtitle">Регионы доставки:</h3>
    <ul class="delivery__list">
       <li class="delivery__item">Украина</li>
       <li class="delivery__item">Также отправляем по всему миру, для дополнительной информации свяжитесь с нами любым удобным для вас способом.</li>
    </ul>

  </div>
</div>