<div class="exchange">
  <h2 class="title">
    Возврат и обмен
  </h2>
  <div class="container">
    <h3 class="exchange__title">Условия возврата и обмена</h3>

    <h4 class="exchange__subtitle">Сроки возврата и обмена</h4>

    <ul class="exchange__list">

      <li class="exchange__item">Компания осуществляет возврат и обмен товаров надлежащего качества согласно Закону
        <a class="exchange__link" target="_blank" href="https://zakon.rada.gov.ua/laws/show/1023-12#Text">
          "О защите прав потребителей"</a>.
      </li>

      <li class="exchange__item">Возврат и обмен товаров возможен в течение 14 дней после получения товара покупателем.
      </li>

      <li class="exchange__item">Обратная доставка товаров осуществляется за счет покупателя.</li>

    </ul>

    <h4 class="exchange__subtitle">Условия возврата для товаров надлежащего качества</h4>

    <ul class="exchange__list">Вы можете вернуть товар или обменять его, если:
      <li class="exchange__item">товар не был в употреблении и не имеет следов использования потребителем: царапин,
        сколов, потёртостей, пятен и т. п.;</li>
      <li class="exchange__item">товар полностью укомплектован и сохранена фабричная упаковка;</li>
      <li class="exchange__item">сохранены все ярлыки и заводская маркировка;</li>
      <li class="exchange__item">товар сохраняет товарный вид и свои потребительские свойства.</li>
    </ul>
    <p class="exchange__text">Согласно Закону
       <a class="exchange__link" target="_blank" href="https://zakon.rada.gov.ua/laws/show/1023-12#Text">"О защите прав потребителей"</a> ,
      компания может отказать потребителю в обмене
      и возврате товаров надлежащего качества, если они относятся к категориям, указанным в действующем<a
        class="exchange__link" target="_blank" href="https://zakon.rada.gov.ua/laws/show/172-94-%D0%BF#Text">"Перечне
        непродовольственных товаров надлежащего качества, не подлежащих возврату и обмену"</a>
      .</p>
  </div>
</div>