<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <ul class="footer__schedule schedule">
        <p class="schedule__title">График работы:</p>
        <li class="schedule__days">
          <span class="schedule__day"> Понедельник</span>
          <span class="schedule__hour">09:00</span>-
          <span class="schedule__hour">18:00</span>
        </li>
        <li class="schedule__days">
          <span class="schedule__day"> Вторник
          </span> <span class="schedule__hour">09:00</span>-
          <span class="schedule__hour">18:00</span>
        </li>
        <li class="schedule__days">
          <span class="schedule__day"> Среда
          </span> <span class="schedule__hour">09:00</span>-
          <span class="schedule__hour">18:00</span>
        </li>
        <li class="schedule__days">
          <span class="schedule__day"> Четверг
          </span> <span class="schedule__hour">09:00</span>-
          <span class="schedule__hour">18:00</span>
        </li>
        <li class="schedule__days">
          <span class="schedule__day"> Пятница
          </span> <span class="schedule__hour">09:00</span>-
          <span class="schedule__hour">18:00</span>
        </li>
        <li class="schedule__days">
          <span class="schedule__day"> Суббота
          </span> <span class="schedule__hour">09:00</span>-
          <span class="schedule__hour">18:00</span>
        </li>
        <li class="schedule__days">
          <span class="schedule__day"> Воскресенье</span>
          <span class="schedule__hour">09:00</span>-
          <span class="schedule__hour">18:00</span>
        </li>
      </ul>

<div class="footer__contacts">
<p class="footer__contact-title"> Наши контакты :</p>
      <div class="phone">
        <nav class="phone__nav phone__nav--footer">

          <span class="phone__name phone__name--footer">Vodafone-Украина</span>
          <a class="phone_number" href="tel:+380666040355">+380666040355</a>

          <span class="phone__name phone__name--footer">Kyivstar-Украина</span>
          <a class="phone_number" href="tel:+380678686347">+380678686347</a>

          <span class="phone__name phone__name--footer">Life-Украина</span>
          <a class="phone_number" href="tel:+380930067257">+380930067257</a>
        
        </nav>
      </div>

<div class="footer__email">
  <span class="footer__email-name">Email: </span>
  <a class="footer__email-link" href="mailto:ferrumshoping@gmail.com">ferrumshoping@gmail.com</a>
</div>

</div>


      <address class="footer__address">
        <p class="footer__contact-title"> Наш адрес :</p>
       <span class="footer__address-country">Украина,</span> 
         <span class="footer__address-region">Хмельницкая область,</span>
          <span class="footer__address-city">Каменец-Подольский</span>
      </address>


    </div>
  </div>
</footer>