<header class="header">

  <div class="header__phone">
    <div class="container">
      <div class="phone">
        <nav class="phone__nav">
          <span class="phone__name">Vodafone-Украина
            <a class="phone_num" href="tel:+380666040355">+380666040355</a></span>

          <span class="phone__name">Kyivstar-Украина
            <a class="phone_num" href="tel:+380678686347">+380678686347</a></span>

          <span class="phone__name">Life-Украина
            <a class="phone_num" href="tel:+380930067257">+380930067257</a></span>
        </nav>
      </div>
    </div>
  </div>

  <div class="header__content">
    <div class="container">

      <div class="header__content-inner">
        <a class="header__link" href="/">
          <h1 class="header__title ">Ferrum Shop</h1>
        </a>

        <form class="search">
          <label class="search__label sr-only" for="search-btn">Поиск по магазину </label>
          <input class="search__input" type="text" name="search" placeholder="Поиск по магазину">

          <button class="search__btn" type="button" id="search-btn"></button>
        </form>
        <div class="header__buttons">
          <button class="cart">
            <span class="cart__value">0</span>
          </button>

          <button class="header__menu  " type="button">Меню
            <span class="header__menu-decor"></span>
          </button>

        </div>
      </div>
    </div>
  </div>

  <nav class="menu ">
    <div class="container">

      <ul class="menu__items ">
        <li class="menu__list">
          <a class="menu__link" href="/">Главная</a>
        </li>
        <li class="menu__list menu__list--drop">
          <a class="menu__link" href="/catalog.html">Товары и услуги</a>

          <ul class="menu__items menu__items--drop">
            <li class="menu__list">
              <a class="menu__link" href="#">Фрезы</a>
            </li>
            <li class="menu__list menu__list--drops">
              <a class="menu__link " href="/catalog_relax.html">Отдых и туризм</a>
              <ul class="menu__items menu__items--drops">
                <li class="menu__list">
                  <a class="menu__link" href="#">Сковорода из диска</a>
                </li>
                <li class="menu__list">
                  <a class="menu__link" href="#">Татарские казаны</a>
                </li>
                <li class="menu__list">
                  <a class="menu__link" href="#">Шампура</a>
                </li>
                <li class="menu__list">
                  <a class="menu__link" href="#">Сковорода Premium*</a>
                </li>
                <li class="menu__list">
                  <a class="menu__link" href="#">Мангалы</a>
                </li>
                <li class="menu__list">
                  <a class="menu__link" href="#">Печь под Казан (Сковороду)</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>


        <li class="menu__list">
          <a class="menu__link" href="/about.html">о нас</a>
        </li>
        <li class="menu__list">
          <a class="menu__link" href="/contact.html">контакты</a>
        </li>
        <li class="menu__list">
          <a class="menu__link" href="/delivery.html">доставка и оплата</a>
        </li>
        <li class="menu__list">
          <a class="menu__link" href="/exchange.html">возврат и обмен</a>
        </li>
      </ul>

    </div>
  </nav>



</header>