<article class="product">
  <a href="#" class="product__image">
    <div class="product__switch image-switch">
      <div class="image-switch__item">
        <div class="image-switch__img"><img src="images/promo/1.jpg" alt="Макбук"></div>
      </div>
      <div class="image-switch__item">
        <div class="image-switch__img"><img src="images/promo/2.jpg" alt="Макбук"></div>
      </div>
      <div class="image-switch__item">
        <div class="image-switch__img"><img src="images/promo/3.jpg" alt="Макбук"></div>
      </div>
    </div>
    <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
  </a>
  <h3 class="product__title">
    <a href="#">Сковорода из диска</a>
  </h3>
  
  <div class="product__info">
    <span class="product__term">Артикул: <span>S005011</span></span>
    <span class="product__available">В наличии: 13 шт</span>
  </div>
  <div class="product__price product-price">
    <span class="product-price__current">2000 <span>грн.</span></span>
  </div>
  <button class="product__btn">Добавить в корзину</button> 
  <button class="product__btn">Перезвоните мне</button>
</article>