<div class="slider">
  <div class="container">
    <div class="slider__inner">

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/01.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/02.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/03.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/04.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/05.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/06.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/07.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/08.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/09.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/010.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/011.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/012.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/013.jpg" alt="Шампура">
        </div>
      </div>

      <div class="slider__item">
        <a class="slider__link" href="#">Купить</a>
        <div class="slider__content">
          <img class="slider__images" src="images/slider/014.jpg" alt="Шампура">
        </div>
      </div>

      





    </div>
  </div>
</div>